*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg,#141E30,#243B55);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    text-align:center;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 40px rgba(0,0,0,0.4);
}

h1{
    color:white;
    margin-bottom:20px;
    font-size:42px;
    letter-spacing:2px;
}

#board{
    display:grid;
    grid-template-columns:repeat(3,110px);
    gap:10px;
    justify-content:center;
    margin:20px 0;
}

.cell{
    width:110px;
    height:110px;
    border:none;
    border-radius:15px;
    background:#ffffff15;
    color:white;
    font-size:55px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.cell:hover{
    transform:scale(1.08);
    background:#00b4d8;
}

#result{
    color:#FFD166;
    margin:15px;
    font-size:28px;
    min-height:35px;
}

button{
    padding:12px 30px;
    font-size:18px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:#06D6A0;
    color:white;
    transition:0.3s;
}

button:hover{
    background:#00b894;
    transform:scale(1.05);
}

.turn{
    color:#ffffff;
    font-size:22px;
    margin-top:10px;
}